extends layout

block content
    section
        h1 Please Enter Your Details to #{title}
        if errors != undefined && errors.length != 0
            each error in errors
                div(role='alert' id='a1') #{error.msg}
        if success_msg != ''
            div(role='alert' id='a2') #{success_msg}
        if error_msg != ''
            div(role='alert' id='a3') #{error_msg}
        if error != ''
            div(role='alert' id='a4') #{error}
        form(method='post' action='/users/register')
            div
                label Name
                input(type='text' minlength='2' name='name' required)
            div
                label LoginID
                input(type='text' minlength='2' name='uid' required)
            div
                label Email
                input(type='email' minlength='6' name='email' required)
            div
                label Password
                input(type='password' minlength='32' name='password' required)
            div
                label Repeat Password
                input(type='password' minlength='32' name='passwordr' required)
            div
                label
                input(type='submit', value='Send')
